<% @posts.each do |post| %>
   <div class ="span4">
    <h2><%= post.title%></h2>
    <p><%= post.body %></p>
    <h3><%= post.published_date %><h3>
    <div class="btn-group">
	  <button class="btn"><%= link_to 'Show', post %></button>
	  <button class="btn"><%= link_to 'Edit', edit_post_path(post) %></button>
	  <button class="btn"><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></button>
	</div>
  </div>
<% end %>
<br>
<button class="btn btn-large btn-primary" type="button"><%= link_to 'New Post', new_post_path %></button>


